<div class="row">
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Home</h5>
        <h6 class="card-subtitle mb-2 text-muted">Anonymous</h6>
        <p class="card-text">Home page with anonymous content, angular.</p>
        <a href="/" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Counter</h5>
        <h6 class="card-subtitle mb-2 text-muted">Anonymous</h6>
        <p class="card-text">Counter application, with local storage and anonymous content, angular.</p>
        <a href="/counter" class="btn btn-primary">Counter</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">User data</h5>
        <h6 class="card-subtitle mb-2 text-muted">Authorize</h6>
        <p class="card-text">Angular application page, outputs user orders data, requires authorization, angular.</p>
        <a href="/user-data" class="btn btn-primary">User data</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Fetch data</h5>
        <h6 class="card-subtitle mb-2 text-muted">Authorize</h6>
        <p class="card-text">Angular application page, outputs some dummy data, requires authorization, angular.</p>
        <a href="/fetch-data" class="btn btn-primary">Fetch data</a>
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <h6 class="card-subtitle mb-2 text-muted">Anonymous</h6>
        <p class="card-text">Identity login page, razor page.</p>
        <a href="/authentication/login" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Register</h5>
        <h6 class="card-subtitle mb-2 text-muted">Anonymous</h6>
        <p class="card-text">Identity register page, razor page.</p>
        <a href="/authentication/register" class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Reset password</h5>
        <h6 class="card-subtitle mb-2 text-muted">Anonymous</h6>
        <p class="card-text">Identity password reset page, razor page.</p>
        <a href="/Identity/Account/ForgotPassword" class="btn btn-primary">Reset password</a>
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Profile</h5>
        <h6 class="card-subtitle mb-2 text-muted">Authorize</h6>
        <p class="card-text">Identity profile page, requires authorization, razor page.</p>
        <a href="/authentication/profile" class="btn btn-primary">Profile</a>
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Logout</h5>
        <h6 class="card-subtitle mb-2 text-muted">Authorize</h6>
        <p class="card-text">Identity logout page, requires authorization, razor page.</p>
        <a href="/authentication/logout" class="btn btn-primary">Logout</a>
      </div>
    </div>
  </div>
</div>
